.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.headerMenu a{
    margin: 0 10px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1.2px;
    color: black;
    display: inline-block;
}

.headerMenu{
    
    margin: 10px 0;
}

.headerMenu a:hover{
     color: tan;
}

.Loginstage a{
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: rgb(37, 35, 33);
    display: inline-block;
    display: flex;
    
}

.Stage a{
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: rgb(219, 200, 200);
    display: inline-block;
    display: flex;
}
.Stage a:hover{
    color: tan;
}

.Loginstage a:hover{
    color: tan;
}